<div
  fxLayoutAlign="center center"
  fxLayout="column"
  class="mt-20"
  fxLayoutGap="25px">
  <p class="font-size-40 bold" color="primary">Student List</p>
  <button mat-raised-button color="primary" (click)="onAddStudent()">Add New Student</button>
</div>

<div *ngFor="let student of studentList"
     class="card-style">
  <mat-card fxLayout="row" fxLayoutAlign="space-between center" class="mt-8" >
    <div>
      <div class="font-size-18">
        <span class="bold">Name:</span> {{student.fullName}}
      </div>
      <div class="font-size-18">
        <span class="bold">Roll No:</span> {{student.roll}}
      </div>
    </div>

    <div>
      <div class="font-size-18">
        <span class="bold">Department:</span> {{student.department}}
      </div>
      <div class="font-size-18">
        <span class="bold">Phone:</span> {{student.phoneNumber}}
      </div>
    </div>

    <div fxLayout="row" fxLayoutGap="8px">
      <button mat-raised-button color="primary" (click)="onUpdate(student)">Update Student</button>
      <button mat-raised-button color="warn" (click)="onDelete(student)">Delete Student</button>
    </div>
  </mat-card>
</div>
