<div fxLayoutAlign="center start" class="mt-30">
  <p class="font-size-40 bold">Student's Form</p>
</div>

<div [formGroup]="studentForm">
  <form fxLayoutAlign="center center" style="margin-top: 24px">
    <div fxLayout="column" fxFlex="50" fxLayoutAlign="space-around center">
        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label>First Name</mat-label>
          <input matInput type="text" formControlName="firstname">
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label>Last Name</mat-label>
          <input matInput type="text" formControlName="lastname">
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label>User Name</mat-label>
          <input matInput type="text" formControlName="username">
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label>Phone Number</mat-label>
          <input matInput type="text" formControlName="phonenumber">
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label>Roll</mat-label>
          <input matInput type="number" formControlName="roll">
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="email">
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label>Department</mat-label>
          <input matInput type="text" formControlName="department">
        </mat-form-field>


      <button
        mat-raised-button
        color="primary"
        [disabled]="!studentForm.valid"
        (click)="onSubmit()">Submit</button>
    </div>

  </form>
</div>
