<div
  fxLayoutAlign="center center"
  fxLayout="column"
  class="mt-20"
  fxLayoutGap="25px">
  <p class="font-size-40 bold" color="primary">Teacher List</p>
  <button mat-raised-button color="primary" (click)="onAddTeacher()">Add New Teacher</button>
</div>

<div *ngFor="let teacher of teachersList"
     class="card-style">
  <mat-card fxLayout="row" fxLayoutAlign="space-between center" class="mt-8" >
    <div>
      <div class="font-size-18">
        <span class="bold">Name:</span> {{teacher.fullName}}
      </div>
      <div class="font-size-18">
        <span class="bold">Email:</span> {{teacher.email}}
      </div>
    </div>

    <div>
      <div class="font-size-18">
        <span class="bold">Department:</span> {{teacher.department}}
      </div>
      <div class="font-size-18">
        <span class="bold">Phone:</span> {{teacher.phoneNumber}}
      </div>
    </div>

    <div fxLayout="row" fxLayoutGap="8px">
      <button mat-raised-button color="primary" (click)="onUpdate(teacher)">Update Teacher</button>
      <button mat-raised-button color="warn" (click)="onDelete(teacher)">Delete Teacher</button>
    </div>
  </mat-card>
</div>
